{% extends 'website/layout.html' %}
{% load static %}

{% block ogtags %}
    <meta property="og:site_name" content="GithubStats">
    <meta property="og:title" content="{% if name != None %}{{ name }}{% else %} @{{username}} {% endif %} - GithubStats" />
    <meta property="og:url" content="https://githubstats.xyz" />
    <meta property="og:image" itemprop="image" content="{{dp_url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{bio}}" />
    <meta name="keywords" content="{{name}}, {{username}} githubstats, github, github status, github developers, github developer status, github stats card">
    <meta name="description" content="Github status of all developers in the world at your fingertips - Designed and Developed by Rahul T">

{% endblock %}

{% block sidebar %}
    <div class="dp">
        <img src="{{dp_url}}" alt="" id="dp">
        <h2 id="name">{% if name != None %}{{ name }} {% else %} @{{username}} {% endif %}</h2>
        <p id="bio">{{bio}}</p>
    </div>
    <div class="social-links">
        <p><a id="github_link" href="{{github_link}}"><em class="fa fa-github"></em> <span id="github_username">{{username}}</span></a></p>
        <p style="font-size: 15px;"><a id="website_link" href="{{website_url}}"><em class="fa fa-link"></em> {{website_url}}</a></p>
        <p> <em class="fa fa-map-marker"></em> <span id="location">{{location}}</span></p>
    </div>
{% endblock %}


{% block main %}
    <div class="box-container">
        <div class="box">
            <h1>Followers</h1>
            <p id="followers_count">{{followers_count}}</p>
        </div>
        <div class="box">
            <h1>Following</h1>
            <p id="following_count">{{following_count}}</p>
        </div>
        <div class="box">
            <h1>Public Repos</h1>
            <p id="public_repos_count">{{public_repos_count}}</p>
        </div>
        <div class="box">
            <h1>Public Gists</h1>
            <p id="public_gists_count">{{public_gists_count}}</p>
        </div>
    </div>
    <div class="heading">
        <h1>Top repos</h1>
    </div>
    <div class="repo-container" id="repo-cont">
        {% for repo in repos_list %}
        <div class="repo less" id="1">
            <a id="link" href="{{repo.html_url}}">
                <h1 id="repo_title_1"><em class="fa fa-file-code-o"></em>&nbsp; {{repo.name}} </h1>
            </a>    
                <form action="{% url 'bookmark_add' repo.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="favorite"><em class=" 
                       bookmark
                        fa fa-bookmark-o"></em></button>
                
                </form>
                
                
            <p id="repo_desc_1">{{repo.description}}</p>
            <div style="font-size: 15px;" class="stats">
                <em class="fa fa-circle"></em> <span id="lang1">{{repo.language}}</span> &nbsp;&nbsp;
                <em class="fa fa-star-o"></em> <span id="stars1">{{repo.stargazers_count}}</span> &nbsp;&nbsp;
                <em class="fa fa-code-fork"></em> <span id="fork1">{{repo.forks_count}}</span> 
            </div>
            
        </div>
        {% endfor %}
        
    </div>


{% endblock %}


{% block scripts %}

{% endblock %}
